/* RESET */
img{
    max-width: 100%;

}

.wrapper{
    width: 100%;
    height: 100vh;
    
}

li{
    list-style-type: none;
}

table img {
    width: 25px;
}

/* UTILITY */

.ms-img{
    width: 150px;
}

.ms-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ms-container{
    width: 100%;
    
}
.ms-bg{
    border-radius: 10px;
    padding: 0rem .3rem;
    color: white;
}

.bg-dark-blue{
    background-color:#165bba ;

}
.bg-green{
    background-color: green;
}
.bg-yellow{
    background-color:#ffc107
}
.bg-red{
    background-color: red;
}
.bg-title{
    background-color: #f7f7f7;
   border: 1px solid lightgray
}
.ms-color-yellow{
    color: #ffc107;
}

/* HEADER */

.ms-header-nav{
    width: 100%;
    height: 80px;
    background-color: rgb(253, 253, 253);
}
header img {
    width: 100px;
}
.ms-lence{
    border: 1px solid lightgray;
    
    margin-left: .2rem;
}
.ms-search{
    width: 100%;
    border: 0;
}
header a{
    color: inherit;
}


/* MAIN-LEFT */
.cool-left{
    width: 100px;
    height: calc(100vh - 80px);
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

.cool-left a{
    color: white;
}

/* MAIN-RIGHT */
.cool-right{
    width: calc(100% - 100px);
    height: calc(100vh - 80px);
    overflow-y: scroll;
   
}
.main-header{
    width: 100%;
    background-color: #1b72e8;
    color: white;
}

/* TABLE */
table{
    width: 100%;
}

td button {
    background-color: white;
    color: gray;
}

/* F.A.Q. */
#faq span{
    color: black;
}
@media screen and (min-width:768px) {
    .main-header{
        
        background-color: #1b72e8;
    }
}

@media screen and (min-width:992px) {
    .cool-left{
        width: 150px;
    }
    .dk-none{
        display: none;
    }
    .none{
        display: block;
    }
    .cool-right{
        width: calc(100% - 150px);
    }
    th:first-child{
        width: 60%;
    }
}
